{% extends 'groups/group_base.html' %}

{% block pregroup %}

<h1>{{ group.name }}</h1>
<h3>Members : {{ group.members.count }}</h3>

<div class="content">
    {% if user in group.members.all %}

        <br><a href="{% url 'groups:leave' slug=group.slug %}" class="btn btn-lg btn-fill btn-warning">
            Leave <span class="material-icons">person_remove</span>
        </a><br>
    {% else %}

        <a href="{% url 'groups:join' slug=group.slug %}" class="btn btn-lg btn-fill btn-primary">
            Join <span class="material-icons">
                person_add_alt
                </span>
        </a>
    {% endif %}

</div>
{% endblock %}

{% block group_content %}
 <div class="col-mb-8">
    {% if group.posts.all != 0 %}
        {% for post in group.posts.all %}
            {% include 'posts/_post.html' %}
        {% endfor %}
    {% else %}
    <p>No posts in this group </p>
    {% endif %}
 </div>
{% endblock %}